* {
  box-sizing: border-box;
}
.intro {
  height: 600px;
  width: 900px;
  background: rgb(196, 231, 154);
  padding-top: 80px;
}
.header {
  height: 40px;
  width: 300px;
  background: rgb(41, 77, 0);
  margin-left: 290px;
  margin-bottom: 50px;
}
.paragraph {
  height: 70px;
  width: 600px;
  background: rgb(148, 193, 46);
  margin-left: 150px;
  margin-bottom: 50px;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  background: rgb(41, 77, 0);
  height: 150px;
  width: 150px;
  margin-right: 100px;
}
.item:last-child {
  margin-right: 0;
}
